<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<br><br>
	<header>
		<h1 align="center">{{title}}</h1>
	</header>
	<section class="container">
		<section class="content">
			{{content | safe}}
		</section>
	</section>
</body>
</html>

<style type="text/css">
	.content{
		margin-left: auto;
		margin-right: auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	table{
		border: 2px solid black;
	}
	tr{
		border: 1px solid black;
	}
	td{
		border: 1px solid lightgrey;
		text-align: center;
		vertical-align: middle;
	}
</style>